<a href="https://colab.research.google.com/github/Navya-0/full_stack_data_science/blob/main/16_9_23_conditional_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=500
price=450
if price<=500:
  pass

In [ ]:
price<=500

True

In [ ]:
a=500
price=850
if price<=500:
  print("yes i'll buy it.")

In [ ]:
price=850
price<=500

False

In [ ]:
a=500
price=850
if price<=500:
  print("yes i'll buy it.")
else:
  print("i wont buy it")

i wont buy it

In [ ]:
a=500
shirt_price=200
pant_price=500
coat_price=800

if shirt_price<=a:
  print("yes i'll buy the shirt.")
elif pant_price <=500:
  print("yes i'll buy the pant")
elif coat_price <500:
  print("yes i'll buy the coat")
else:
  print("i wont buy it")

yes i'll buy the shirt.

In [ ]:
a=500
shirt_price=200
pant_price=500
coat_price=800

if shirt_price<=a:
  print("yes i'll buy the shirt.")
if pant_price <=500:
  print("yes i'll buy the pant")
if coat_price <500:
  print("yes i'll buy the coat")
else:
  print("i wont buy it")

yes i'll buy the shirt.
yes i'll buy the pant
i wont buy it

In [ ]:
a=500
shirt_price=800
pant_price=500
coat_price=200
my_size="M"
size=["S","L","XL","XXL"]
my_colour="white"
colour=["white","red","green","blue"]
if shirt_price<=a:
  print("yes i'll buy the shirt.")
if pant_price <500:
  print("yes i'll buy the pant")
elif coat_price <500:
  print("yes its under budget")
  if my_colour in colour:
    print("ill check if its in my size")
    if my_size in size:
      print("ill buy it")
    else:
      print("its not available in my size")
  else:
    print("its not in my favourite colour")
else:
  print("i wont buy it")

yes its under budget
ill check if its in my size
its not available in my size

In [ ]:
course=["DSM","DSA","java","big data","DA"]
price=20000
mentor="sudhamshu kumar"
if("DSM" in course and price == 1000 and "sudhanshu kumar"== mentor):
  print("ill buy the course")
else:
  print("i wont buy the code")

i wont buy the code

In [ ]:
course_price=20000
if(10000<=course_price<=15000):
  print("ill buy it")
else:
  print("i wont buy it")

i wont buy it

In [ ]:
user_name="navya"
password="navya@123"
if user_name== input("enter name ") and password == input("enter password "):
  print("you are logged in successfully")
else:
  print("incorrect credentials")

enter name navy
incorrect credentials

In [ ]:
mobile_no= 123456
otp= 1234
if mobile_no == input("enter mobile number"):
  print("yes its ")
  if  otp == int(input("eneter opt")):
    print("good to go")
  else:
    print("wrong otp")
else:
  print("you have entered wrong number")

enter mobile number1223345
you have entered wrong number

In [ ]:
l=[12,3,3,4,56,6]
for i in l:
  print(i)

12
3
3
4
56
6

In [ ]:
mobile_no=[234,876,987,698,345,456]
stud_no=234
stud_details={"mobile_no":234,"course":["dsa","dsm","big data"]}
for i in mobile_no:
  print(i)
  if i == stud_no:
    print("yes user is registered")
    if i == stud_details['mobile_no']:
      print("yes student detail is available")
      print("course access ", stud_details["course"])

234
yes user is registered
yes student detail is available
course access  ['dsa', 'dsm', 'big data']
876
987
698
345
456

In [ ]:
t=(2,4,56,7,"navya","nair")
for i in t:
  if type(i)== str:
    print(i)

navya
nair

In [ ]:
t=(1,3,4,5,6,7,"navya","nair","a")
i=[]
st=[]
for j in t:
  if type(j)==int:
    i.append(j)
  else:
    st.append(j)
print(i)
print(st)

[1, 3, 4, 5, 6, 7]
['navya', 'nair', 'a']

In [ ]:
d={}