<a href="https://colab.research.google.com/github/Navya-0/full_stack_data_science/blob/main/1st_october_oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   a=10

In [ ]:
# these(a,b,c)are all objects/instances/variables of int class
a=10
b=20
c=50

In [ ]:
# this is an instance of a string class which has multiple functions in it to help us perform some operations on it
st="navya"

In [ ]:
class bankaccount:

  def open_acc(self,name,e_id):
    print("open an account by taking name and email id ")
    return name+e_id

  def deposit(self,amount):
    print("amount to deposit ")

  def withdraw(self,amt_wtd):
    print(f"{amt_wtd} is the amount to withdraw ")

  def update_details(self,name_upd,e_upd):
    print("to update name and email id ")

In [ ]:
bacc= bankaccount() # bacc is a variable/object of class bankaccount
bacc.open_acc("navya","acb.gmail.com")

open an account by taking name and email id

'navyaacb.gmail.com'

In [ ]:
bacc.withdraw(1000)

1000 is the amount to withdraw

In [ ]:
class list_ops:
  a=10 # these will be the same for all objects, whereas __init__ allows us to have flexibility to have specific values for specific object
  l=[1,34,56,2]
  def extractfromindex(self,l,i):
    return l[i]

  def extractrange(self,l,start,end):
    return l[start:end]

  def extractevenindex(self,l):
    l1=[]
    for i in l:
      if i%2==0:
        l1.append(i)
    return l1

obj= list_ops()
obj.l
obj.extractfromindex([23,45,6,89,0],3)
obj.extractfromindex(obj.l,3)

2

In [ ]:
obj.extractrange([23,45,6,89,0],1,3)

[45, 6]

In [ ]:
obj.extractevenindex([23,45,6,89,0])

[6, 0]

In [ ]:
class list_ops:
  def __init__(self,l):
    self.l1=l
    self.l2="navya"
    self.l3=(1,34,5,True)
    self.l4={1:"a",2:"b"}

  def extractfromindex(self,l,i):
    return l[i]

  def extractrange(self,l,start,end):
    return l[start:end]

  def extractevenindex(self,l):
    l1=[]
    for i in l:
      if i%2==0:
        l1.append(i)
    return l1

obj1= list_ops([67,89,34,5])
obj2=list_ops([8,79,67,4])

In [ ]:
obj3=list_ops([8,79,67,43])
obj3.l1

[8, 79, 67, 43]

In [ ]:
class books:
  def __init__(self,name,title,pageno):
    self.book_name=name
    self.book_title=title
    self.book_pageno=pageno

  def extract_details(self):
    print(f"name of the book is {self.book_name} and title of the book is {self.book_title}")

  def page_no(self):
    print("number of pages",self.book_pageno)

In [ ]:
navya = books("Dsa","complete dsa",150)
navya.extract_details()
navya.page_no()

name of the book is Dsa and title of the book is complete dsa
number of pages 150

In [ ]:
bob = books("oops","complete oops",550)
bob.extract_details()
bob.page_no()

name of the book is oops and title of the book is complete oops
number of pages 550

In [ ]:
class books:
  def __init__(self):
    self.book_name="dsa"
    self.book_title="dsa advance"
    self.book_pageno= 350

  def extract_details(self):
    print(f"name of the book is {self.book_name} and title of the book is {self.book_title}")

  def page_no(self):
    print("number of pages",self.book_pageno)

In [ ]:
obj1=books()
obj1.extract_details()

name of the book is dsa and title of the book is dsa advance

In [ ]:
class gmail_ops:
  def __init__(self,user_id,password):
    self.username=user_id # value specific to object
    self.user_pass=password # value specific to object
    self.url="https://mail.google.com/mail" # default value for every object

  def login(self):
    print("user id",self.username,"password",self.user_pass,"url",self.url)

In [ ]:
obj= gmail_ops("navya","123abc")
obj.login()

user id navya password 123abc url https://mail.google.com/mail

In [ ]:
obj1= gmail_ops("kavya","343abc")
obj1.login()

user id kavya password 343abc url https://mail.google.com/mail

In [ ]:
class calculator:

  def add(self,*args):
    s=0
    for i in args:
      s=s+i
    return s

  def sub(self,*args):
    su=0
    for i in args:
      su-=i
    return su

  def multiply(self,*args):
    p=1
    for i in args:
      p*=i
    return p

  def div(self,*args):
    from functools import reduce
    return reduce(lambda a,b:a//b,args)

In [ ]:
obj1=calculator()
obj1.div(3,4,5,6,7,8)

0

In [ ]:
obj1.multiply(3,4,5,6,7,8)

20160